{% load names %}<nav class="navbar navbar-fixed-top" style="background-color: #0088A8;">
    <div class="container-fluid">

        {% comment '網站名稱' %}{% endcomment %}<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
	  <a class="navbar-brand" href="/">{% site_var 'site_name' %}</a>
        </div>
		
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse">

            
	

           <ul class="nav navbar-nav navbar-right">

                <ul class="nav navbar-nav">
                    
                    <li><a href="{% url 'register:register' %}">{% nav_name 'register' %}</a></li>
                    <li><a href="{% url 'login:login' %}">{% nav_name 'login' %}</a></li>
                    
                </li><!-- ./support -->
	
	    </ul><!-- ./RIGHT -->

        </div>

        <!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
