html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container {
  margin: 20px auto;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab-pane {
    border-radius: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

body,input,button,select,textarea{
    font-family: "Helvetica Neue", Helvetica, Arial, "æ–‡æ³‰é©›å¾®ç±³é»‘", "å¾®è½¯é›…é»‘", "ãƒ¡ã‚¤ãƒªã‚ª", "ë§‘ì€ ê³ ë”•", sans-serif;
    font-size:150%;
}

label,ol,h1,h2,h3,h4,h5,h6{  
    font-family: "Microsoft JhengHei","æ–‡æ³‰é©›å¾®ç±³é»‘", Helvetica, Arial, sans-serif;  
}

h2,h4{
    line-height:22pt;
}
.table{
  font-size: 14px;
}
.red{
  color: red;
}
.green{
  color: green;
}
.gray{
  color: gray;
}
.container {
    position: relative;
    
}
.top-left {
    position: absolute;
    top: 30px;
    left: 50px;
    color: #ffffff; 
}
.btn{
    font-family: "Microsoft JhengHei",Arial, sans-serif;  
}
.btn-container-right {
 direction: rtl;
 * {
 direction: ltr;
 }
}